.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 70px 20px;
  }
  
  .card {
    background: rgb(10, 53, 82);
    border-radius: 12px;
    padding: 30px;
    width: 300px;
    /* background: url("https://img.freepik.com/foto-gratis/wallpaper-bulan-seni-digital_23-2150918875.jpg") center/cover no-repeat; */
    box-shadow: 0 5px 12px rgba(0,0,0,0.15);
  }
  