.head {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    position: center;
    width: 100%;
    z-index: 25PX;
    background: rgba(233, 156, 68, 0.85);
    backdrop-filter: blur(6px);
  }
  
  .logo {
    font-size: 60px;
    font-weight: bold;
    position: center;
    color: #ebe97a;
    margin-left: 300px;
  }
  
  .nav a {
    margin-left: 200px;
    font-weight: 100PX;
    text-decoration: none;
    color: #f0f0f3;
    font-weight: bold;
    /* background: rgba(250, 240, 149, 0.85); */
  }
  