.head {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    position: center;
    width: 100%;
    z-index: 10;
    background: rgba(4, 0, 20, 0.85);
    backdrop-filter: blur(6px);
  }
  
  .logo {
    font-size: 30px;
    font-weight: bold;
    position: center;
  }
  
  .nav a {
    margin-left: 20px;
    font-weight: 500;
    text-decoration: none;
    color: #e6e0e0;
  }
  