.hero {
    height: 80vh;
    background: url("https://i.pinimg.com/736x/a0/86/f1/a086f1c90f053fcb9efa1e8dbad4f209.jpg") center/cover no-repeat;
    position: relative;
  }
  
  .overlay {
    margin: 100px;
    position: absolute;
    top: 70%;
    left: 50%;
    padding: 50px 50px;
    transform: translate(-70%, -70%);
    text-align: center;
    background: rgb(10, 53, 82);
    color: rgb(245, 242, 242);
  }
  
  .button {
    margin-top: -5%;
    position: absolute;
    background: #4f4df2;
    padding: 48px 35px;
    border-radius: 10px;
    color: white;
    background: url("https://img.pikbest.com/backgrounds/20250525/astronaut-sitting-on-giant-donut-in-space_11730314.jpg!f305cw") center/cover no-repeat;
    text-decoration: none;
    font-weight: bold;
    
  }

  .img {
    margin-top: 58%;
    position: absolute;
    background: #e4e28d;
    padding: 48px 35px;
    border-radius: 10px;
    color: rgb(44, 6, 39);
    /* background: image() */
    text-decoration: none;
    font-weight: bold;
    
  }
  